<!DOCTYPE html>
<html>
  <head>
    <title>URL shortener</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      * {
      box-sizing: border-box;
      }
      html, body {
      min-height: 100vh;
      padding: 0;
      margin: 0;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #161612;
      }
      input, textarea {
      outline: none;
      }
      body {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      background: #C0FDFB;
      }
      h1 {
      margin-top: 30;
      margin-left: 120px;
      font-weight: 100;
      }
      form {
      position: relative;
      width: 80%;
      border-radius: 30px;
      background: #64B6AC;
      }
      .form-left-decoration,
      .form-right-decoration {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 20px;
      background: #5a7233;
      }
      .form-left-decoration {
      bottom: 60px;
      left: -30px;
      }
      .form-right-decoration {
      top: 60px;
      right: -30px;
      }
      .form-left-decoration:before,
      .form-left-decoration:after,
      .form-right-decoration:before,
      .form-right-decoration:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 20px;
      border-radius: 30px;
      background: #fff;
      }
      .form-left-decoration:before {
      top: -20px;
      }
      .form-left-decoration:after {
      top: 20px;
      left: 10px;
      }
      .form-right-decoration:before {
      top: -20px;
      right: 0;
      }
      .form-right-decoration:after {
      top: 20px;
      right: 10px;
      }
      .circle {
      position: absolute;
      bottom: 80px;
      left: -55px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #fff;
      }
      .form-inner {
      padding: 40px;
      }
      .form-inner input,
      .form-inner textarea {
      display: block;
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
      border: none;
      border-radius: 20px;
      background: #d0dfe8;
      }
      .form-inner textarea {
      resize: none;
      }
      button {
      width: 40%;
      padding: 10px;
      margin-left: 160px;
      border-radius: 20px;
      border: none;
      border-bottom: 4px solid #545775;
      background: #718F94;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #161612;
      }
      button:hover {
      background: #545775;
      }
      @media (min-width: 568px) {
      form {
      width: 40%;
      }
      }
    </style>
  </head>
  <body>
    {% block inp %}{% endblock %}
  </body>
</html>
