{% extends "blog/base.html" %}
{% block inp %}
<form method="post">
    <div class="form-inner">
        {% csrf_token %}
        <input type="text" name="name" placeholder="URL...">
        <button type="submit">Shorten</button>
        <h1>{{data}}</h1>
    </div>
</form>
{% endblock inp %}



