{% extends "blog/base.html" %}
{% block inp %}
<form method="post">
    {% csrf_token %}
    URL: <input type="text" name="name">
    <button type="submit">Click</button>
    <h1>{{data}}</h1>
</form>
{% endblock inp %}